* {
  box-sizing: border-box;
}

body,
.div_1 {
  display: flex;
}
body {
  flex-direction: column;
  color: black;
  background-color: green;
}
.div_1 {
  flex-wrap: wrap;
  padding: 10px 10%;
  border: thick 10px pink;
  margin: auto;
}
p {
  align-content: center;
  background-color: grey;
  border: thick 30px orange;
}
